@font-face {
  font-family: ProximaNova;
  src: url('assets/fonts/ProximaNova/ProximaNovaW01-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Sofia;
  src: url('assets/fonts/SofiaPro/SofiaProBold.otf');
  font-weight: normal;
}

@font-face {
  font-family: Sofia;
  src: url('assets/fonts/SofiaPro/SofiaProBlack.otf');
  font-weight: bold;
}
