/* normalize-ish things */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:active,
a:focus {
  color: #5700ff;
  text-decoration: none;
}

h1 {
  color: #5700ff;
  font-family: Sofia;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  color: #5700ff;
  font-family: Sofia;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin: 0;
}

p {
  color: #808080;
  font-family: ProximaNova;
  font-weight: normal;
  line-height: 1.4rem;
}

/* components */
.GetStarted {
  margin: 5vh auto 0;
  max-width: 65rem;
  overflow: hidden;
  padding: 0 2.5rem;
}

.GetStarted-header {
  margin: 1rem 0;
  overflow: hidden;
  text-align: center;
}

.GetStarted-headerText {
  font-size: 1.0625rem;
}

.GetStarted-headerHighlight {
  color: #3FC4D2;
  font-family: Sofia;
  font-size: 0.9375;
  font-weight: bold;
}

.GetStarted-content {
  display: flex;
  flex-direction: column;
}

.Card {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.Card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2.5rem;
}

.Card-text {
  font-size: 0.8125rem;
}

.Card-footer {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.Card-footer h2 {
  margin-left: 1rem;
}

.Button {
  background: white;
  border: 2px solid #5700FF;
  border-radius: 4px;
  font-family: Sofia;
  font-size: 0.9375rem;
  font-weight: normal;
  margin-bottom: 1rem;
  min-width: 140px;
  padding: 1rem 0;
  text-align: center;
  transition: background 200ms ease-out,
              color 200ms ease-out;
}

.Button:hover {
  background: #5700FF;
  color: white;
}

.OldPrice {
  color: #3FC4D2;
  margin-right: 0.25rem;
  text-decoration: line-through;
}

/* media queries */

@media screen and (min-width: 380px) {
  .Card-footer {
    flex-direction: row;
  }

  .Button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  .GetStarted-content {
    flex-direction: row;
  }

  .Card:first-child {
    margin-right: 2.5rem;
  }
}

@media screen and (min-width: 1030px) {
  .Card-leftHeader {
    max-width: 70%;
  }

  .Card-rightHeader {
    max-width: 90%;
  }

  .Card-text {
    max-width: 90%;
  }
}
